/build/
/backup/
/judge_log/
node-1/
node-2/
node-3/
node-testbench/logs/
code.tar.gz
*.o
*.pb.cc
*.pb.h
node-testbench/demo_grpc/greeter_client
docker-proxy/logs
testbench/testbenchResult.json
testbench/src/testbench
code/alimama/demo_alimama_search_service
logs/
judge.json
ljudge-pipeline
